<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <br>
    <% if current_user %>
      <%= link_to current_user.name, current_user %>
      <%= link_to 'Make a new post', new_post_path %>
      <%= link_to 'Log out', logout_path, method: :delete %>
    <% elsif !(controller_name == 'sessions' && action_name == 'new') %>
      <%= link_to 'Log in', login_path %>
    <% end %>
  </body>
</html>
